
@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/ptsans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}

   body {
    font-family: "PT Sans", sans-serif;
    font-style: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #F2F2F2;
   }

   .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
    background: #FFFFFF;
  }

  .main-container {
    flex-grow: 1;
  }

 .button {
    display: inline-block;
    padding: 9px 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
  }

/* Header */
  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 66px;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 390px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
  }

  .navigation-item {
    position: relative;
    text-align: center;
  }

  .navigation-link {
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
  }

.navigation-icon-quantity {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 24px;
  top: -5px;
}

.navigation-icon-12 {
  position: absolute;
  left: 28px;
}

.navigation-link-index::before {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #756157;
  top: 40px;
  content: "";
  min-width: 68px;
  margin: 0;
}

.navigation-link-current::before {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #756157;
  top: 40px;
  content: "";
  min-width: 93px;
  margin: 0;
}

  .navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill:  #000000;
  }

  .navigation-user {
    margin-left: auto;
    text-align: center;
    justify-content: flex-end;
    padding-right: 70px;
  }

  .navigation-user-button {
    width: 130px;
    background: #756157;
    margin-left: 18px;
  }

  .navigation-user-button:hover {
    background: #615048;
  }

  .navigation-user-button:focus {
    background: #615048;
  }

  .navigation-user-button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #756157;
  }



  .navigation-user .navigation-link {
    min-width: 42px;
    min-height: 22px;
  }


/*Рекламный блок*/
  .intro {
    background-image: url("../images/background-mountains.jpg");
    background-size: 100% auto;
    min-height: 485px;
    background-repeat: no-repeat;
    text-align: center;
  }

  .intro-logo {
    padding-top: 51px;}

  .advantages-lead {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1200px;
    min-height: 282px;
  }

  .advantages-lead-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    width: 620px;
    min-height: 72px;
    margin: 0 auto;
    padding: 69px 0 0 0;
  }

  .intro-decorative {
    position: absolute;
    transform: translate(-50%, 31%);
  }

/*Блоки преимуществ*/

.advantages-item {
  width: 400px;
  min-height: 385px;
  font-size: 30px;
}

.advantages-item-wrapper {
  width: 100%;
  display: flex;
  background: #82B3D3;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  padding-top: 92px;
  margin-right: auto;
  margin-left: auto;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}

.advantages-item-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 30px 0 30px 0;
}

.advantages-item-features {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-pic {
  width: 800px;
  height: 384px;
  background-color: #ccc;
}

.advantages-sublist {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-sublist-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.advantages-sublist-pic {
  text-align: center;
  padding: 80px 0 0 0;
}


.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.advantages-sublist-title {
  margin: 30px 0 30px 0;
}

.advantages-description-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 230px;
  min-height: 63px;
  text-align: center;
  margin: 0;
}

.advantages-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-full {
  width: 100%;
}

.advantages-item-pic img {
  width: 100%;
  height: auto;
}

.advantages-sublist li {
  width: 400px;
}

.advantages-housing, .advantages-souvenirs {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-meal {
  background: #FFFFFF;
}

.advantages-area, .advantages-tourists {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-road {
background: rgba(131, 179, 211, 0.2);
}

/*Заинтересовались*/
.appointment {
  min-height: 417px;
  background: #FFFFFF;
  color: #000000;
  text-align: center;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding: 91px 0 0 0;
}

.appointment-interested  {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 592px;
  min-height: 52px;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 56px 0;
}

.appointment-button {
  background: #756157;
  width: 544px;
  padding: 12px 15px;
}

.appointment-button:hover {
  background: #615048;
  border-radius: 4px;
}

.appointment-button:focus {
  background: #615048;
  border-radius: 4px;
}

.appointment-button:active {
  background: #756157;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}


/*Подписка*/
.newsletter {
  background-image: url("../images/newsletter.jpg");
  background-size: 100% auto;
  min-height: 411px;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 94px 398px 29px 398px;
}

.newsletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color:#FFFFFF;
  padding: 0 363px 0 362px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.field-email {
  width: 578px;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  align-items: center;
  padding: 20px 0 19px 22px;
  margin: 0;
}


.button-email {
  background: #82B3D3;
  border-radius: 0 10px 10px 0;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  width: 200px;
  margin: 0;
}

.newsletter-catalog {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 411px;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
}

.newsletter-catalog p {
  color: #000000;
}

.field-email {
  width: 578px;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  align-items: center;
  padding: 20px 0 19px 22px;
  margin: 0;
}

/*Футер*/

.page-footer {
  background: #FFFFFF;
  color: #000000;
  align-items: center;
  min-height: 120px;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  min-height: 120px;
  justify-content: space-around;
  align-items: center;

}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  align-items: center;
  justify-content: center;
  fill:#83B3D3;
}

.footer-social-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0;
  justify-content: center;
  fill:#83B3D3;
}

.footer-social-ikon {
  margin: 0;
  padding: 13px 11px;
  fill:#83B3D3;
}
.footer-social-ikon:hover {
  fill: #68A2CA;
}

.footer-social-ikon:focus {
  fill: #68A2CA;
}

.footer-social-ikon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  background-color:   #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 14px;
}

.contact-phone {
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-align: center;
text-transform: uppercase;
width: 120px;
min-height: 50px;
color: #000000;
text-decoration: none;
}

.contact-phone:hover {
  color: #756157;
}

.contact-phone:focus {
  color: #756157;
}

.contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}



/*Catalog*/

.catalog-filter-container {
  background-image: url("../images/background-filter.jpg");
  background-size: 100% auto;
  min-height: 403px;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
  padding-left: 70px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  list-style-type: none;
  padding-left: 70px;
  padding-top: 27px;
}

.breadcrumbs-link {
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  fill: #FFFFFF
}

.breadcrumbs-link:hover {
  color:rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  fill: rgba(255, 255, 255, 0.3);
}



.catalog-filter {
  display: flex;
  width: 100% auto;
  min-height: 148;
  margin: 0;
  flex-wrap: wrap;
  color: #FFFFFF;
  align-items: flex-start;
  padding-left: 70px;
  padding-top: 40px;
}

.catalog-filter-group {
border: none;
}

/* Range */
.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color:  #E5E5E5;
  border-radius: 2px;
  margin-top: 32px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.range-toggle:hover {
  border: 3px solid #83B3D3;
}


.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #FFFFFF;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.catalog-filter-list {
  display: block;
  list-style-type: none;
  align-self: start;
  padding-left: 0;
  margin-right: 70px;
}


.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  width: 143px;
  margin-right: 0;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-legend {
  margin-left: 175px;
  width: 288px;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: #FFFFFF;
  border-radius: 4px;
  list-style-type: none;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-left: 20px;
  border: none;
}

.button-apply {
  font-weight: 700;
  background: #82B3D3;
  text-transform: uppercase;
  margin-top: 60px;
}

.button-apply:hover {
  background: #68A2CA;
}

.button-apply:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-apply:focus {
  background: #68A2CA;
}

.button-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  text-transform: none;
  background:transparent;
  padding-top: 20px;
}

/*Каталог отелей*/


.results-wrap {
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: space-between;
}

.sorting-container {
  display: flex;
  padding-top: 50px;
  padding-left: 72px;
  padding-bottom: 58px;
  margin-right: 71px;
  justify-content: space-between;
}

.results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  align-items: start;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 290px;
  height: 49px;
  margin-left: 181px;
}

.sorting-card-grid {
  display: flex;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 44px;
  background-color: ;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  flex-direction: column;
  margin-right: 4px;
  margin-left: 4px;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
  border-radius: 4px;
}


.card-grid-toggle:hover {
 border: 2px solid #000000;
  border-radius: 4px;
}

.card-grid-toggle:hover {
  border: 2px solid #000000;
   border-radius: 4px;
 }

 .card-grid-toggle:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
 }

 .card-grid-toggle:active {
  border: 2px solid #000000;
   border-radius: 4px;
 }



.button-light {
  padding-top: 50px;
}



.results-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 64px;
  padding: 0;
  gap: 18px;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

.results-card {
  padding-right: 38px;
}

.results-card-button {
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
}

.results-card-link {
  text-decoration: none;
}

.results-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.results-card-price{
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.results-card-price p {
  width: 140px;
  margin-right: 20px;
}

.results-card-image-inner {
  display: flex;
  margin: 0;
  text-transform: uppercase;
}

.button-detailed {
  background: #756157;
  margin-right: 16px;
  width: 110px;
}

.button-detailed:hover {
  background: #615048;
}

.button-detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.button-detailed:focus {
  background: #615048;
}

.button-choice:hover {
  background: #68A2CA;
}

.button-choice:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-choice:focus {
  background: #68A2CA;
}

.button-choice {
  background: #82B3D3;
  width: 110px;
}

.button-choice-green:hover {
  background: #6C9E42;
}

.button-choice-green:focus {
  background: #6C9E42;
}

.button-choice-green:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.results-card-star {
  width: 120px;
  padding-right: 20px;
  margin-right: 20px;
  padding-top: 10px;
}

.button-choice-green {
  background: #7DB54F;
}

.results-rating-image {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  padding-top: 9px;
  margin: 0;
  background: #F2F2F2;
  color: #333333;
  border-radius: 4px;
  text-align: center;
}

/* Пагинация*/
.pagination-container {
  display: flex;
  padding: 25px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  border-radius: 4px;
  padding: 16px;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background: #82B3D3;
  border: 1px solid #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-quantity {
color: #333333;
font-weight: 400;
font-size: 18px;
line-height: 21px;
margin-left: auto;
padding-right: 51px;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.pagination-select-control {
  width: 160px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 20px;
}

.button-email:hover {
  background: #68A2CA;
}

.button-email:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-email:focus {
  background: #68A2CA;
}
