
@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/ptsans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-style: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.button {
  display: inline-block;
  padding: 9px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

/* Header */
.page-header {
  padding: 0 70px 0 70px;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  min-height: 65px;
}

.navigation-logo {
  height: 65px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  min-height: 65px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 30px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user-list {
  display: flex;
  width: 264px;
  height: 100%;
  margin: 0;
  list-style-type: none;
  align-items: center;
  margin-left: auto;
}

.navigation-user-item {
  position: relative;
  width: 57px;
  height: 66px;
}

.navigation-user-link {
  position: relative;
  display: flex;
}

.navigation-counter {
  left: -10px;
}

.navigation-user-counter {
  display: flex;
  position: absolute;
  top: 13px;
  left: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-decoration: none;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  align-items: center;
  justify-content: center;
}

.navigation-user-icon {
  position: absolute;
  top: 23px;
  left: 11px;
  fill:  #000000;
}

.navigation-icon-user-quantity {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 24px;
  top: -5px;
}

.navigation-link-index::before {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #756157;
  top: 97%;
  content: "";
  min-width: 68px;
  margin: 0;
}

.navigation-link-current::before {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #756157;
  top: 99%;
  content: "";
  min-width: 93px;
  margin: 0;
}

.navigation-user-button {
  width: 130px;
  background: #756157;
  text-align: center;
}

.navigation-user-button:hover {
  background: #615048;
}

.navigation-user-button:focus {
  background: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none
}

.navigation-user-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

/**/
  .intro {
    background: url("../images/divider.svg") left 0 bottom 0,
    url("../images/background-mountains.jpg") center/cover;
    min-height: 434px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 51px;
  }

/*Advantage blocks*/

.advantages-lead-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 620px;
  min-height: 72px;
  margin: 0 auto;
  padding: 62px 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

.advantages-lead-subtitle {
  text-align: center;
  padding-top: 9px;
  padding-bottom: 67px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-item {
  font-family: 'PT Sans';
  width: 400px;
  min-height: 384px;
  font-size: 30px;
}

.advantages-item-wrapper {
  width: 100%;
  display: flex;
  background: #82B3D3;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 92px;
  margin-right: auto;
  margin-left: auto;
  color: #FFFFFF;
}

.advantages-wrapper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  min-height: 223px;
  margin-top: 103px;
  margin-right: auto;
  margin-left: auto;
  color: #333333;
}

.advantages-item-title {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.advantages-item-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 34px 0 34px 0;
}

.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 34px 0 34px 0;
}

.reasons-item .reasons-item-road {
  padding-left: 83px;
  padding-right: 83px;
}

.advantages-item-features {
  width: 230px;
  min-height: 63px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-text {
  width: 230px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-item-pic {
  width: 800px;
  height: 384px;
  background-color: #ccc;
}

.advantages-sublist {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-sublist-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-sublist-pic {
  width: 400px;
  min-height: 85px;
  text-align: center;
  padding: 0;
  margin-top: 80px;
}

.sublist-pic-meal {
  padding-right: 9px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.advantages-sublist-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0 30px 0;
  text-transform: uppercase;
}

.sublist-title-meal {
  padding-right: 10px;
}

.advantages-meal .advantages-description-desc {
  padding-right: 10px;
}

.advantages-description-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 230px;
  min-height: 63px;
  text-align: center;
  margin: 0;
}

.advantages-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-full {
  width: 100%;
}

.advantages-item-pic img {
  width: 100%;
  height: auto;
}

.advantages-sublist li {
  width: 400px;
}

.advantages-housing, .advantages-souvenirs {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-meal {
  background: #FFFFFF;
}

.advantages-area, .advantages-tourists {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-road {
background: rgba(131, 179, 211, 0.2);
}

/*Appointment*/
.appointment {
  display: flex;
  flex-direction: column;
  min-height: 417px;
  background: #FFFFFF;
  color: #000000;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 92px;
  text-transform: uppercase;
  align-self: center;
  box-sizing: border-box;
}

.appointment-interested  {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 100%;
  min-height: 52px;
  text-align: center;
  margin-top: 4px;
  align-self: center;
}

.appointment-button {
  background: #756157;
  width: 544px;
  height: 36px;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin-top: 34px;
  align-self: center;
}

.appointment-button:hover {
  background: #615048;
  border-radius: 4px;
}

.appointment-button:focus {
  background: #615048;
  border-radius: 4px;
}

.appointment-button:active {
  background: #756157;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

/*Newsletter*/
.newsletter {
  display: flex;
  flex-direction: column;
  background-image: url("../images/newsletter.jpg");
  background-size: 100% auto;
  min-height: 411px;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.newsletter-catalog {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 411px;
  text-align: center;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 95px;
  color: #FFFFFF;
}

.newsletter-text {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color:#FFFFFF;
  margin-top: 28px;
  margin-bottom: 45px;
  align-self: center;
  padding-left: 2px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.field-email {
  width: 578px;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  align-items: center;
  padding: 21px 0 19px 22px;
  margin: 0;
  outline: none;
}
.field-email:hover {
  background-color: #e6e6e6;
}

.field-email:focus {
  background-color: #e6e6e6;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.field-email:not(:placeholder-shown):invalid {
  background-color: #ffffff;
  outline: 2px solid #ff5757;
}


.button-email {
  background: #82B3D3;
  border-radius: 0 10px 10px 0;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans';
font-weight: 700;
font-size: 20px;
line-height: 36px;
  padding: 12px 15px;
  width: 200px;
  margin: 0;
}

.button-email:hover {
  background: #68A2CA;
}

.button-email:focus {
  background: #68A2CA;
}

.newsletter-catalog p {
  color: #000000;
}

/*Footer*/

.page-footer {
  background: #FFFFFF;
  /*min-height: 120px;*/
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  min-height: 120px;
}

.footer-social {
  margin-right: auto;
  max-width: 142px;
  min-height: 40px;
  padding-top: 45px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  fill:#83B3D3;
}

.footer-social-link {
  display: block;
  height: 40px;
  background-color:   #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 14px;
}

.footer-social-vk {
  margin: 0;
  padding: 13px 11px;
  fill:#83B3D3;
}

.footer-social-telegram {
  margin: 0;
  padding: 13px 15px;
  fill:#83B3D3;
}

.footer-social-youtube {
  margin: 0;
  padding: 11px 13px;
  fill:#83B3D3;
}

.footer-social-youtube:hover {
  fill: #68A2CA;
}

.footer-social-youtube:focus {
  fill: #68A2CA;
}

.footer-social-youtube:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-telegram:hover {
  fill: #68A2CA;
}

.footer-social-telegram:focus {
  fill: #68A2CA;
}

.footer-social-telegram:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-vk:hover {
  fill: #68A2CA;
}

.footer-social-vk:focus {
  fill: #68A2CA;
}

.footer-social-vk:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contact-info {
  display: flex;
  width: 720px;
  padding-top: 45px;
  justify-content: center;
}

.contact-phone {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-right: 56px;
}

.contact-phone:hover {
  color: #756157;
}

.contact-phone:focus {
  color: #756157;
}

.contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-htmlacademy {
  padding-left: 12px;
  width: 118px;
  height: 37px;
  padding-top: 49px;
}

.htmlacademy-logo-icon {
  fill: #000000;
}

.htmlacademy-logo-icon:hover {
  fill:  #756157;
}

.htmlacademy-logo-icon:focus {
  fill: #756157;
}

.htmlacademy-logo-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

/*modal window*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

/*Uncomment below to disable modal-container*/

/*.modal-container-close {
  display: none;
}*/

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 575px;
}

.modal-search {
  min-width: 575px;
}

.modal-title {
  margin: 0 0 63px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background: #E6E6E6;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:focus {
  background: #E6E6E6;
  background-image: url("../images/close.svg");
  border: 3px solid #83B3D3;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:active {
  background: #E6E6E6;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*Дата заезда*/

.form-arrival-date {
  display: flex;
}

.form-date-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  width: 155px;
  padding-top: 12px;
}
 .field-date-button {
  width: 399px;
 }

.field-input-arrival-date {
  position: relative;
  width: calc(100%-155px);
  min-height: 50px;
}

.field-input-date {
  width: 100%;
  height: 50px;
  padding-left: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  border-radius: 4px;
  border: 4px;
}

.field-input-date:hover {
  background: #E6E6E6;
  border-radius: 4px;
}

.field-input-date:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.field-input-date:active {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 4px;
}

.data-button {
  position: absolute;
  top: 17px;
  right: 17px;
  background-image: url("../images/date.svg");
  width: 15px;
  height: 15px;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.data-button-two {
  position: absolute;
  top: 291px;
  right: 95px;
  background-image: url("../images/date.svg");
  width: 15px;
  height: 15px;
  border: 0;
  background-color: transparent;
}

.appointment-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
}

.appointment-info-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.form-label-quantity {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-right: 62px;
  text-align: center;
}

.form-quantity {
  display: flex;
  margin: auto;
}

.form-quantity-adults {
  display: flex;
  width: 288px;
}

.form-quantity-children {
  display: flex;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-left: 42px;
  width: 230px;
  text-align: center;
}

.form-label-children {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-right: 43px;
  text-align: center;
  align-items: center;
}

.form-label-exit {
  margin-right: 37px;
}

/*Tooltip*/

.tooltip {
  position: absolute;
  margin-left: 57px;
  margin-top: 12px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  background: #83B3D3;
  border-radius: 50%;
  display: block;
}

.tooltip-icon {
  width: 25px;
  height: 25px;
  color: #83B3D3;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #83B3D3;
}

.tooltip-text {
  display: none;
  text-transform: none;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 15px 18px 18px 22px;
  width: 216px;
  min-height: 106px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: left;
}

.tooltip-text::before {
  background-image: url("../images/triangle.svg");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 118px;
  top: -8px;
  width: 19px;
  height: 9px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.quantity-wrapper {
  display: flex;
  background: #F2F2F2;
  border-radius: 4px;
  width: 133px;
  height: 50px;
}

.btn-minus-plus {
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  cursor: inherit;
  width: 43px;
  text-align: center;
}

.icon-plus {
  fill: rgba(0, 0, 0, 0.3);
}

.btn-minus-plus:hover .icon-plus {
  fill: black;
}

.btn-minus-plus:focus .icon-plus {
  fill: black;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.btn-minus-plus:active .icon-plus {
  fill: rgba(0, 0, 0, 0.3);
}

.icon-minus {
  fill: rgba(0, 0, 0, 0.3);
}

.btn-minus-plus:hover .icon-minus {
  fill: black;
}

.btn-minus-plus:focus .icon-minus {
  fill: black;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.btn-minus-plus:active .icon-minus {
  fill: rgba(0, 0, 0, 0.3);
}

.visiters-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  appearance: textfield;
  background-color: transparent;
  color: #000000;
  border: 0;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 48px;
  border-width: 0;
}

.button-search {
  background: #83B3D3;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  padding: 0;
  margin-top: 40px;
}

.button-search:hover {
  background: #68A2CA;
  border-radius: 10px;
}

.button-search:focus {
  background: #68A2CA;
  border: 3px solid #756257;
  border-radius: 10px;
}

.button-search:active {
  background: #68A2CA;
  border-radius: 10px;
  color: rgba(255,255,255,0.3);
  border: 0;
}

/*Catalog*/

.catalog-filter-container {
  display: flex;
  flex-direction: column;
  background-image: url("../images/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 403px;
  padding-left: 70px;
}

.catalog-title {
  padding-top: 35px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  width: 115px;
  height: 21px;
  margin-top: 7px;
  padding: 0;
  color: #FFFFFF;
  list-style-type: none;
}

.breadcrumbs-link-index {
  text-decoration: none;
  fill: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-right: 6px;
}

.breadcrumbs-link {
  text-decoration: none;
  fill: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-index:hover {
  color:rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-index:focus {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.breadcrumbs-link-index:active {
  color: rgba(255, 255, 255, 0.3);
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
  color:rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus-visible {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-icon {
  padding-right: 10px;
}

.catalog-filter {
  display: flex;
  width: 100% auto;
  min-height: 148;
  margin: 0;
  flex-wrap: wrap;
  color: #FFFFFF;
  align-items: flex-start;
  margin-top: 13px;
  border: none;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 23px;
  width: 198px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 30px;
  width: 290px;
}

.catalog-filter-group:nth-child(3) {
  position: relative;
  width: 288px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
}

.catalog-filter-list {
  display: block;
  list-style-type: none;
  align-self: start;
  padding: 0;
  margin-top: 28px;
}

.catalog-filter-item {
  padding-bottom: 10px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 2px;
  margin-top: 28px;
  outline: none
}

.range-bar {
  position: absolute;
  height: 4px;
  background: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.range-toggle:hover {
  border: 3px solid #83B3D3;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #FFFFFF;
}

.toggle-min  {
  top: -7px;
}

.toggle-max {
  top: -7px;
  right: 0;
}

.range-wrapper-inputs {
  display: flex;
  border-radius: 4px;
  margin-top: 37px;
  color: rgba(255,255,255,0.3);
}

.catalog-filter-label {
  position: relative;
  display: flex;
  width: 140px;
  height: 43px;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  outline: none;
  border: none;
}

.range-input-from {
  max-width: 122px;
  height: 42px;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
  background: transparent;
  color: #ffffff;
  padding-left: 17px;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  outline: none;
}

.range-input-before {
  max-width: 122px;
  height: 42px;
  border: 2px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
  background: transparent;
  color: #ffffff;
  padding-left: 17px;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  outline: none;
  margin-left: 3px;
}

.range-from {
  position: absolute;
  top: 9px;
  left: 111px;
}

.range-before {
  position: absolute;
  top: 9px;
  left: 107px;
}

.range-input-from:hover,
.range-input-before:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input-from:focus ,
.range-input-before:focus {
  box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
  outline: none;
}

.range-input-from:active,
.range-input-before:active {
  background-color: #756257;
  border: 2px solid #FFFFFF;
  box-shadow: none;
}

.range-input-from::-webkit-outer-spin-button,
.range-input-from::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-before::-webkit-outer-spin-button,
.range-input-before::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-infrastructure {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-infrastructure {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.control:focus .control-infrastructure {
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.control:active .control-infrastructure {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-infrastructure::after {
  position: absolute;
  top: 5px;
  left: 4px;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  content: "";
  width: 20px;
  height: 20px;
}

.control-type {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFFFFF;
}

.control:hover .control-type {
  background: #FFFFFF;
}

.control:focus .control-type {
  background: #FFFFFF;
  border: 3px solid #83B3D3;
}

.control:active .control-type {
  background: #FFFFFF;
}

.control-input-type[type="radio"]:checked + .control-type::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;;
  border-radius: 50%;
  content: "";
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  padding-top: 60px;
  width: 230px;
}

.button-submit {
  width: 160px;
  min-height: 48px;
  margin-bottom: 12px;
  background-color: #83b3d3;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button-submit:hover {
  background: #68A2CA;
}

.button-submit:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-submit:focus {
  background: #68A2CA;
}

.button-reset {
  width: 120px;
  min-height: 32px;
  margin-right: 20px;
  text-transform: none;
  background:transparent;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6)
}

.button-reset:focus {
  color: #FFFFFF;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  border: 0;
}

/*Каталог отелей*/

.sorting-container {
  display: flex;
  align-items: center;
  min-height: 160px;
  padding: 0 0 0 71px;
  margin: 0 auto;
}

.sorting-container-title {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  align-items: start;
}

.select-control {
  display: flex;
  align-items: center;
  padding-left: 17px;
  color: #333333;
  min-width: 290px;
  min-height: 49px;
  margin-left: 193px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: -3px;
  background: url("../images/arrow.svg") no-repeat 93% 50%;
  appearance: none;
}

.select-control:hover {
  border: 2px solid #83b3d3;
}

.select-control:focus-visible {
  border: 2px solid #83b3d3;
  outline: none;
}

.select-control:active {
  border: 2px solid #e6e6e6;
  color: rgba(51, 51, 51, 0.3);
}

.sorting-card-wrapper {
  display: flex;
  min-width: 160px;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: 70px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin: 0 0 0 8px;
  background-color: #ffffff;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}


.card-grid-toggle:hover {
 border: 2px solid #000000;
  border-radius: 4px;
}

.card-grid-toggle:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
 }

.card-grid-toggle:active {
  border: 2px solid #000000;
  border-radius: 4px;
 }

.button-light {
  padding-top: 50px;
}

.results-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  width: 1015px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding: 0;
  column-gap: 18px;
  min-height: 884px;
  row-gap: 8px;
}

.results-card {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.results-item {
  display: flex;
  flex-direction: column;
  padding-right: 38px;
}

.results-card-button {
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
}

.results-card-link {
  width: 300px;
  min-height: 28px;
  text-decoration: none;
}

.results-card-title {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  margin: 5px 0 0 0;
}

.results-card-price{
  display: flex;
  color: #333333;
  margin: 9px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  bottom: 0;
}

.results-card-price p {
  width: 140px;
  margin-right: 20px;
}

.results-card-image {
  margin-top: 5px;
}

.results-card-image-inner {
  display: flex;
  margin: 0;
  text-transform: uppercase;
}

.button-detailed {
  background: #756157;
  margin-right: 16px;
  width: 110px;
}

.button-detailed:hover {
  background: #615048;
}

.button-detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.button-detailed:focus {
  background: #615048;
}

.button-choice:hover {
  background: #68A2CA;
}

.button-choice:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-choice:focus {
  background: #68A2CA;
}

.button-choice {
  background: #82B3D3;
  width: 110px;
}

.button-choice-green:hover {
  background: #6C9E42;
}

.button-choice-green:focus {
  background: #6C9E42;
}

.button-choice-green:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.results-card-star {
  width: 120px;
  padding-right: 20px;
  margin-right: 20px;
  padding-top: 7px;
}

.stars-img {
  align-self: center;
}

.button-choice-green {
  background: #7DB54F;
}

.results-rating-image {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  padding-top: 8px;
  padding-left: 0;
  margin: 0;
  background: #F2F2F2;
  color: #333333;
  border-radius: 4px;
  text-align: center;
}

/* Пагинация*/
.pagination-container {
  display: flex;
  min-height: 115px;
  border-top: 1px solid #E6E6E6;
  width: 1055px;
  align-items: center;
  margin: 0 70px 0 68px;
  justify-content: space-between;

}

.pagination-line {
  border: 1px solid #E6E6E6;
  transform: rotate(180deg);
  width: 1055;
}


.pagination {
  display: flex;
  width: 368px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  border-radius: 4px;
  padding: 12px;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  border: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background: #82B3D3;
  border: 1px solid #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
  margin-left: 4px;
}

.pagination-number {
  display: flex;
  align-items: center;

}

.pagination-quantity {
padding: 0;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}

.pagination-select-control {
  display: flex;
  align-items: center;
  min-width: 160px;
  min-height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 20px;
  color: #333333;
  margin-left: 51px;
  background: url("../images/arrow.svg") no-repeat 88% 50%;
  appearance: none;
  margin-right: -5px;
}

.pagination-select-control:hover {
  border: 2px solid #83b3d3;
}

.pagination-select-control:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.pagination-select-control:active {
  border: 2px solid #e6e6e6;
  color: rgba(51, 51, 51, 0.3);
}


.button-email:hover {
  background: #68A2CA;
}

.button-email:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-email:focus {
  background: #68A2CA;
}
