
@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/ptsans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}

   body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-style: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #F2F2F2;
    width: 1200px;
    height: 384px;
   }

  .main-container {
    flex-grow: 1;
  }

  .page-container {
   margin: 0 auto;
   width: 1200px;
  }

/* Header */

   .page-header {
     display: flex;
     color: #000000;
     background-color: #ffffff;
     width: 1200px;
  }

  .navigation {
    display: flex;
    width: 961px;
    margin: 0 auto;
  }

  .navigation-list {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin: 0;
    padding: 0;
    width: 390px;
  }

  .navigation-user {
    max-width: 264px;
    margin-left: auto;
  }

  .navigation-link {
    text-transform: capitalize;
    color: inherit;
  }

  .navigation-link-button {
    position: absolute;
    width: 160px;
    height: 37px;
    background: #756157;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .page-container {
    margin: 0 auto;
    width: 1200px;
    height: 3130px;
  }

/*Рекламный блок*/
  .intro {
    display: block;
    margin: 0 auto;
    background-image: url("../images/background-mountains.jpg");
    background-size: 100% auto;
    width: 1200px;
    height: 485px;
    background-repeat: no-repeat;
    text-align: center;
  }

  .advantages {
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 282px;
    text-align: center;
  }

 /*Блоки преимуществ*/
 .advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  height: 1525px;
  flex-wrap: wrap;
 }

 /*1 блок преимуществ*/
 .advantages-item-foto {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      width: 1200px;
      height: 384px;
      text-align: center;
      background: #82B3D3;
      color: #FFFFFF;
    }

  .advantages-foto {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #82B3D3;
    color: #FFFFFF;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

    .advantages-title-foto {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color:#FFFFFF;
    }

    .advantages-item {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 400px;
      height: 384px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  .advantages-item-bridge {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      width: 1200px;
      height: 384px;
      text-align: center;
      background: #82B3D3;
      color: #FFFFFF;
  }

  .slogan-foto {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  .advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
  }

  .advantages-description-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
  }

.advantages-housing, .advantages-souvenirs {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-meal {
  background: #FFFFFF;
}

.advantages-area, .advantages-tourists {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-road {
background: rgba(131, 179, 211, 0.2);
}

/*Заинтересовались*/
.appointment {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 417px;
  color: #000000;
  text-align: center;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.appointment-interested  {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/*Подписка*/
.newsletter {
  display: block;
  margin: 0;
  background-image: url("../images/newsletter.jpg");
  background-size: 100% auto;
  width: 1200px;
  height: 411px;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

/*Футер*/

.page-footer {
  background: #FFFFFF;
  color: #000000;
  align-items: center;
  width: 1200px;
  height: 120px;
}

.page-footer-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  width: 1200px;
  height: 120px;
  justify-content: space-around;
  align-items: center;
}

.footer-social {
  text-align: center;
  width: 120px;
  height: 40px;
}

.fofooter-social-list {
  width: 120px;
  color:#83B3D3;
}

.contact-phone {
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-align: center;
text-transform: uppercase;
width: 120px;
height: 50px;
color: #000000;
}

/*Catalog*/

.page-container-catalog {
  display: flex;
  width: 1200px;
  height: 2026px;
  margin: 0 auto;
  flex-direction: column;
  flex-direction: row;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 35px 70px 70px;
  gap: 10px;
  width: 1200px;
  height: 403px;
  background-size: 100% auto;
  background-image: url("../images/background-filter.jpg");
  color: #FFFFFF;
  position: absolute;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-button {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.button-apply {
  font-weight: 700;
  text-transform: uppercase;
}

.button-reset {
  font-weight: 400;
}
/*Каталог отелей*/

.results-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1200px;
  height: 1212px;
  flex-wrap: wrap;
  background-size: 100% auto;
  position: absolute;
}
  .results-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    align-items: flex-start;
    background-size: 100% auto;
  }

.results-card {
  text-decoration: none;
}

.results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.results-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.results-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-detailed, .button-choice {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.button-detailed {
background: #756157;
}

.button-choice {
  background: #82B3D3;
}

.results-card-image {
  background: #F2F2F2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.pagination-current {
  background: #F2F2F2;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
}

.pagination-quantity {
color: #333333;
font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.appointment-list {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.field-email {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.button-email {
  background: #82B3D3;
  border-radius: 0 10px 10px 0;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-catalog {
  display: block;
  margin: 0;
  width: 1200px;
  height: 411px;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
}
